<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="teste-api-spring-egsys"/>
    <springProperty scope="context" name="logLevelRoot" source="logging.level.root" defaultValue="INFO"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${applicationName}"}</customFields>
            <includeContext>false</includeContext>
            <includeMdcKeyName>correlationId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
        </encoder>
    </appender>

    <root level="${logLevelRoot}">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
